extends ../layout

block content
    link(rel='stylesheet', href='/css/style.css')
    #support-container.container-fluid
        div(style='text-align:center')
            p

            table(class='table table-striped table-hover')
                thead
                    tr
                        th 번호
                        th 제목
                        th 작성자
                        th 날짜
                tbody
                    each i in result
                        tr
                            td=i.no
                            td
                                a(href='/context?no='+i.no)=i.title
                            td=i.writer
                            td=i.date
            hr
        button.btn.btn-primary(
            style='float:right'
            type='button'
            onclick="location.href='/write'"
        ) 글쓰기